![image](https://www.earth.ac.cr/wp-content/themes/cummins/images/logo-es.png)
### Curso de Programación aplicada a la agricultura
### Material de apoyo Tema Dos Análisis de datos 
### Examen Parcial II

### Preparado por:
Prof. Gregory Guevara, 
Marzo 2024, gguevara@earth.ac.cr
**Fecha de entrega en moodle 21 de marzo de 2024**

## Instrucciones:
- Debera entregar al menos dos de los casos que se proponen a continuación 
- Deberá entregar un caso de análisis de datos basado en información y data sets que ustedes investiguen

### Caso 1 

A continuación se muestra la base de datos de diferentes tiempo de avance en mangueras de goteo, para diferentes diamétros de mangueras, espaciamiento de goteros y caudal del goteros.

Corriendo algoritmos de Machine Learning Supervisados de regresión determine el tiempo de avance ('time') de la manguera en función de al menos 4 características que acompañan la corrida (flow, lenght, diameter, headloss, spacing velocity). 

Debe realizar un análisis exploratorio de los datos, usando gráficos y al final debe justificar el algoritmo que recomendaria y con el ajuste de hiperparámetros.

In [1]:
import pandas as pd

url=('https://raw.githubusercontent.com/greko-guevara/curso-de-programaci-n_EARTH/main/time_driplines.csv')
df=pd.read_csv(url)
df

        item  flow  spacing  lenght  diameter  velocity  headloss   time
0        1.0   0.4      0.2    20.0      13.6   0.07649      0.82  22.61
1        2.0   0.4      0.3    20.0      13.6   0.05099      1.23  26.31
2        3.0   0.4      0.4    20.0      13.6   0.03824      1.64  39.21
3        4.0   0.4      0.5    20.0      13.6   0.03060      2.05  46.61
4        5.0   0.4      0.6    20.0      13.6   0.02550      2.45  47.77
...      ...   ...      ...     ...       ...       ...       ...    ...
1531  1532.0   3.5      0.5   300.0      20.2   1.82027      0.30  19.16
1532  1533.0   3.5      0.6   300.0      20.2   1.51689      0.36  22.39
1533  1534.0   3.5      0.7   300.0      20.2   1.30019      0.42  22.92
1534  1535.0   3.5      0.8   300.0      20.2   1.13767      0.48  28.59
1535  1536.0   3.5      0.9   300.0      20.2   1.01126      0.54  29.38

[1536 rows x 8 columns]

### Caso 2 

A continuación se muestra la base de datos climáticos durante un experimento en campo.

En este caso se detallan las columnas de lluvia la precipitación diaria y además en la columna de fertirriego se indica la cantidad de agua regada ese día, ambas en unidades de mm/día; Además el etr_1 (Evapotranspiración) es la demanda del cultivo también en mm/día.

Podemos decir que si en cualquier momento del experimento la cantidad de agua llovida más la regada es mayor que la Evapotranspiración acumulada no estamos en riesgo de deficit

\begin{equation}
\sum \left ( lluvia + fertirriegos \right ) > \sum \left ( Evapotranspiracion \right )\rightarrow \left ( No\smile  deficit \right )
\end{equation}

    
Elabore gráficos con datos acumulados a lo largo del Días después de siembra que demuestren si hubo o no deficit durante el experimento?

In [2]:
import pandas as pd

url=('https://raw.githubusercontent.com/greko-guevara/curso-de-programaci-n_EARTH/main/data_clima_maiz.csv')
df=pd.read_csv(url)
df

    dds  lluvia  T_max  T_min  T_prom     rad     etr_1  fertirriegos
0     1     0.0  30.80  21.33   26.07  0.0032  4.750205             0
1     2     2.1  32.43  23.23   27.83  0.0033  4.870389             0
2     3    32.6  31.87  22.69   27.28  0.0034  4.806451             0
3     4     1.5  30.23  21.60   25.92  0.0030  4.519133             0
4     5    12.2  32.45  20.65   26.55  0.0037  5.361100             0
..  ...     ...    ...    ...     ...     ...       ...           ...
71   72     0.0  29.37  21.20   25.29  0.0021  4.333676             0
72   73     0.0  32.38  22.63   27.51  0.0014  4.978147             0
73   74     0.0  32.38  22.63   27.51  0.0014  4.978147             0
74   75     0.0  32.38  22.63   27.51  0.0014  4.978147             0
75   76     0.0  32.38  22.63   27.51  0.0014  4.978147             0

[76 rows x 8 columns]

### Caso 3 

A continuación se muestra los datos de un experimento de banano

Corriendo algoritmos de Machine Learning Supervisados de regresión selecccione una variable que pueda ser predecible a partir de las caracteristicas observadas.

Debe realizar un análisis exploratorio de los datos, usando gráficos y al final debe justificar el algoritmo que recomendaria y con el ajuste de hiperparámetros.

In [7]:
import pandas as pd

url=('https://raw.githubusercontent.com/greko-guevara/curso-de-programaci-n_EARTH/main/datos_py.csv')
df=pd.read_csv(url)
df

,Bloque,Cable,Planta,Repeticion,Tratamiento,Medicion,AlturaPT,CircPT,Hojas,dosis,frecuencia,cobertura,DDT,crec_alt,crec_gros,clorofila
0,4,55,1,1,T08S,1,1.42,7.5,6.0,0,8,0,27.0,0.12,1.1,NaN
1,4,55,2,1,T04S,1,1.83,11.5,8.0,0,4,0,27.0,0.13,1.9,NaN
2,4,55,3,1,T64S,1,1.66,8.5,5.0,6,4,0,27.0,0.23,2.4,NaN
3,4,55,4,2,T08S,1,1.60,8.9,5.0,0,8,0,27.0,0.17,1.9,NaN
4,4,55,5,1,T68S,1,1.54,8.4,5.0,6,8,0,27.0,0.21,2.3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
715,4,56,176,14,T04C,4,1.86,10.4,6.0,0,4,1,76.0,0.56,4.4,50.333333
716,4,56,177,15,T04C,4,1.72,9.8,6.0,0,4,1,76.0,0.42,4.7,59.800000
717,4,56,178,15,T68C,4,2.18,12.8,5.0,6,8,1,76.0,0.83,6.8,51.766667
718,4,56,179,15,T34C,4,1.70,6.0,6.0,3,4,1,76.0,0.45,0.8,36.233333
719,4,56,180,15,T38C,4,2.23,13.7,6.0,3,8,1,76.0,0.93,7.4,48.900000

### Caso extra para trabajar por su cuenta 

Para el caso de los alpartamentos de Melboure (jupiter 2.3
) 
Corriendo algoritmos de Machine Learning Supervisados de regresión selecccione el precio del apartamento como la variable a predecir  a partir de las caracteristicas observadas.

Debe realizar un análisis exploratorio de los datos, usando gráficos y al final debe justificar el algoritmo que recomendaria y con el ajuste de hiperparámetros.

In [8]:
import pandas as pd

url=('https://raw.githubusercontent.com/greko-guevara/curso-de-programaci-n_EARTH/main/melb_data.csv')
df=pd.read_csv(url)
df

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.79960,144.99840,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.80790,144.99340,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.80930,144.99440,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.79690,144.99690,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.80720,144.99410,Northern Metropolitan,4019.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13575,Wheelers Hill,12 Strada Cr,4,h,1245000.0,S,Barry,26/08/2017,16.7,3150.0,...,2.0,2.0,652.0,NaN,1981.0,NaN,-37.90562,145.16761,South-Eastern Metropolitan,7392.0
13576,Williamstown,77 Merrett Dr,3,h,1031000.0,SP,Williams,26/08/2017,6.8,3016.0,...,2.0,2.0,333.0,133.0,1995.0,NaN,-37.85927,144.87904,Western Metropolitan,6380.0
13577,Williamstown,83 Power St,3,h,1170000.0,S,Raine,26/08/2017,6.8,3016.0,...,2.0,4.0,436.0,NaN,1997.0,NaN,-37.85274,144.88738,Western Metropolitan,6380.0
13578,Williamstown,96 Verdon St,4,h,2500000.0,PI,Sweeney,26/08/2017,6.8,3016.0,...,1.0,5.0,866.0,157.0,1920.0,NaN,-37.85908,144.89299,Western Metropolitan,6380.0
13579,Yarraville,6 Agnes St,4,h,1285000.0,SP,Village,26/08/2017,6.3,3013.0,...,1.0,1.0,362.0,112.0,1920.0,NaN,-37.81188,144.88449,Western Metropolitan,6543.0